* {
    box-sizing: border-box;
}

// Variables

$light-blue: #01BBD4;
$light-red:  #E91D62;
$text-white: #fff;
body {
    margin: 0;
    padding: 0;
    background: $light-blue;
    color: $text-white;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    text-align: center;
}
.container {
    // background: $light-red;
    background: linear-gradient(to left, $light-red, $light-blue);
    padding: 2em;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
// ==================== Base Styles ===================== //
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: $text-white;
    font-size: 1.1em;
    border: 1px solid $text-white;
    border-radius: 3px;
    padding: 5px;
    transition: 0.2s all ease-in;
    &:hover {
        background: $light-red;
        transform: translateX(-110px);
    }

}

// ============================= Components ========================
input, .search {
    padding: 6px;
    // border-radius: 3px;
}
.search {
    color:$light-red;
}

.btn {
    border-radius: 3px;
    padding: 5px;
    margin: 0.5em auto;
    border: 1px solid $text-white;
    width: 80px;
    color: $text-white;
    display: block;
}

// ===================== Logo ====================== //
.logo {
    max-width: 200px;
    justify-content: flex-start;
    a {
        img {
            width: 50px;
        }
        &:hover {
        background: none;
        }
    }
}
// ================== Header Styles ====================== //
header {
    display: flex;
    // flex-wrap: wrap;
    // align-content: center; 

    align-items: center;
    justify-content: space-between;
        nav {
            justify-content: flex-end;
            padding: 20px;
        }
}

// ======================== Landin Page ============================== //
.landing-pg {
    background: linear-gradient(to left, #fff, $light-blue);
    
    
    .top-content {
        display: flex;
        height: 100%;
        background-color: none;

        .banner {
            max-width: 610px;
            background-color: none;
        }

        // =============== Slider content of the banner
        .slider-content {
            margin: auto;
            text-align: center;
            color: #01BBD4;
        }
    }
}


// Footer Styles
footer {
    // padding: 2em;
    a {
        border:none;
        padding:0 2em;
        &:hover{
            transform: none;
        }
        margin: 20px;
        // some space aroung links
    }
// ================= nav items ===========================
.nav1, .nav2 , .nav3 , .nav4 {
    margin: 0 auto;
}

    nav {
        display: flex;
        a {
            display: block;
            // display in different columns
        }
    }
}

// =================2nd footer ================
.footer-links {
    padding: 1em;
}

// ===== Images for the cart 
.shop-content {
    img{
        max-width: 200px;
    }
}
// ==================== Shop Content ================
.shop-content {
    display: flex;

    .shop-info {
        // Shop Container content
        display: flex;
        // margin: 0 2em;

        .about-item {
            margin: 0 2em;
        }
        img {
        }

    }
}

// ================= Categories section =================
.shop-category-content {
    display: flex;
}
.shop-category-item {
    margin: 0 2em;

    img {
        // max-width: 300px;
    }
}

// =============== Mobile Styles ====================
@media (max-width: 600px){
    .shop-content ,header,.shop-category-content, .nav , .top-content , .shop-info {
        flex-direction: column;
        // disply column on mobile
    }
    .search {
        margin-top: 16px;
    }
}
